services:
  backup-script:
    env_file: .env
    build: .
    volumes:
      - ./:/app/
    environment:
      - DB_USERNAME=${DB_USERNAME}
    command: sleep infinity

  mysql-server:
    env_file: .env
    image: mysql:8.4
    volumes:
      - "./database:/docker-entrypoint-initdb.d"
      - "dbbackup:/var/lib/mysql"
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${DB_USERNAME}
      - MYSQL_PASSWORD=${DB_PASSWORD}
volumes:
  dbbackup:
